.App {
  text-align: center;
  background-image: url('./images/fundo3.png');
  background-color: rgb(202, 250, 238);
  background-size: contain;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 1000px;
}

.header-all {
  align-items: flex-start;
  display: flex;
  font-size: larger;
  justify-content: space-between;
  padding: 30px 30px;
}

.header-imgs {
  background-color: white;
  border: solid 2px rosybrown;
  padding: 8px;
}

.name {
  font-size: 50px;
}

.img-logo {
  max-width: 80px;
  padding: 3px;
}

.footer-all {
  /* background-image: url(https://i.pinimg.com/originals/be/45/06/be45060188b011b89697caf899e36445.png); */
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.img-footer {
  border: solid 2px rgb(67, 151, 193);
  background-color: white;
  padding: 3px;
  max-width: 50px;
}

a:link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.main-all {
  color: white;
  display: flex;
  flex-direction: column;
}

.main-main {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 30px;
  margin-left: 200px;
  margin-top: 50px;
  max-width: 80%;
}

.main-btns-area {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

a:hover {
  color: red;
}

a:visited {
  color: white;
}

.curr-all {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.curr-main {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 30px;
  margin-top: 50px;
  margin-left: 200px;
  max-width: 80%;
}

.foto-perfil {
  max-width: 300px;
}

.about-all {
  color: white;
  display: flex;
  flex-direction: column;
}

.about-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 30px;
  margin-top: 50px;
  margin-left: 200px;
  max-width: 80%;
}

.port-all {
  color: white;
  display: flex;
  flex-direction: column;
}

.port-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 30px;
  margin-top: 50px;
  margin-left: 200px;
  max-width: 80%;
}

.nada {
  color: rgba(31, 61, 39, 0.596);
}